<style>
    input {
        width: 100%;
        height: 10%;
    }
    
    th{
        height: 50px;
    }
</style>

{% load static %}
<form action="/add_workout" method="get">
    <input type="submit" value="Add Workout" />
</form>
{% if workouts %}
<table style="width:100%">
<tr>
    <th>Name</th>
    <th>Time Stamp</th>
    <th>Workout Type</th>
    <th>Number Of Exercises</th>
    <th>Average # Of Sets</th>
    <th>Est Total Sets</th>
</tr>
{% for workout in workouts %}
<tr>
    <th>{{workout.name}}</th>
    <th>{{workout.time_stamp}}</th>
    <th>{{workout.workout}}</th>
    <th>{{workout.n_exercises}}</th>
    <th>{{workout.avg_sets}}</th>
    <th>{{workout.total_sets}}</th>
</tr>
{% endfor %}
</table>
{% else %}
    <p>No workouts are available.</p>
{% endif %}

